<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
</br>
  <div class="field">
    <%= form.label :Profile_Image %>
    <%= form.file_field :image %>
  </div>

 <div class="field">
    <%= form.label :tag_list %><br />
    <%= form.text_field :tag_list, value: @article.tag_list.join(", ") %>
  </div>
  <div class="">
    <%= form.submit %>
  </div>
<% end %>