<h1 class="my-4">Articles</h1>
  <div class="">
          <%= button_to "Add New Article", { :action=>"new" }, method: "get", class: 'btn btn-success' %>
        </div>
        <br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% @articles.each do |article| %>
    <tr>
        <td>  <%= article.title %></td>
        <td>  <%= article.body%></td>
        <td>
          <% if article.image.present? %>
            <%= image_tag article.image.url, size: "30x30" %>
            <% end %>
        </td>

        <td>
        <%= link_to "SHOW", {:action => 'show', :id => article.id} %>
        <%= link_to "EDIT", {:action => 'edit', :id => article.id} %>
        <%#= link_to "Destroy", {:action => 'destroy', :id => article.id},
                        # method: :delete,
                        data: { confirm: "Are you sure?" } %>
         <%= link_to "Destroy", article_path(article),
         method: :delete,
         data: {confirm: "Really delete this article?"}, class: 'btn btn-danger btn-sm' %>

          </td>
    </tr>
      <% end %>
  </tbody>
</table>

