<h1>Articles</h1>
  <div>
          <%= link_to "Add New Article", {:action => 'new' }%>
        </div>
        <br>

      <table border="1" cellspacing="0" cellpadding="10%">
          <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
             <th>image</th>
            <th>Action</th>
          </tr>
          </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
        <td>  <%= article.title %></td>
        <td>  <%= article.body%></td>
        <td> <%#= image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Shaqi_jrvej.jpg/1200px-Shaqi_jrvej.jpg', size: "70x70" %>
          <% if article.image.present? %>
            <%= image_tag article.image.url, size: "30x30" %>
            <% end %>
        </td>

        <td>
        <%= link_to "SHOW", {:action => 'show', :id => article.id} %>
        <%= link_to "EDIT", {:action => 'edit', :id => article.id} %>
        <%#= link_to "Destroy", {:action => 'destroy', :id => article.id},
                        # method: :delete,
                        data: { confirm: "Are you sure?" } %>
         <%= link_to "Destroy", article_path(article),
         method: :delete,
         data: {confirm: "Really delete this article?"} %>

          </td>
    </tr>
    <% end %>
  </tbody>
</table>
