<div class="card" style="width: 18rem;">
<%= image_tag @article.image.url, size: "286x150" %>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.body %></p>
    <p>
      <% toggle_text = already_followed?(@article) ? "Unfollow" : "Follow" %>
      <%= button_to toggle_text, article_follows_path(@article), method: :post, class: 'btn btn-primary btn-sm' %>
        <%#= button_to "Follow", article_follows_path(@article) %>
    </p>
      <p><%= @article.follows.count %> Follow
         <%#= (@article.follows.count) == 1 ? 'Follow' : 'unfollow' %>
      </p>
  </div>
</div>
    <p id="notice"><%=notice %></p>
    <%= @article.tag_list %>

    <h2>Comments: </h2>
    <% @article.comments.each do |comment| %>
      <p>
      	<strong>Commenter:</strong>
      	<%= comment.commenter %>
      </p>

      <p>
      	<strong>Comment: </strong>
      	<%= comment.body %>
      </p>

      <p>
        <%= button_to 'Destroy Comment', [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
      </p>

    <%= article_like_toggle(@article) %>
    <i class="far fa-thumbs-up"></i>
      <p>
      	<%= @article.likes.count %>
      	<%= (@article.likes.count) == 1 ? 'Like' : 'Likes' %>
      </p>
      <% end %>

    <h2> Add a comment </h2>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <p>
      	<%= form.label :commenter %><br>
      	<%= form.text_field :commenter %>
      </p>

      <p>
      	<%= form.label :body %><br>
      	<%= form.text_field :body %>
      </p>

      <p>
      	<%= form.submit class: 'btn btn-success' %>
      </p>
    <% end %>