
<section class="light">
  <div class="container py-2">
    <div class="h3 text-center text-dark" id="pageHeaderTitle"></div>

    <article class="postcard light blue">
      <a class="postcard__img_link">
        <%= image_tag @article.image.url, class: "postcard__img" %>
      </a>
      <div class="postcard__text t-dark">
        <div class="h1 text-center text-dark"><%= current_user.first_name %></div>
        <h3 class="postcard__title blue"><%= @article.title %></h3>
        <div class="postcard__preview-txt"><%= @article.body %></div><br>
        <b><%= @article.tagged_users_list %></b><br>
        <ul class="list-unstyled">
          <li class=""><%= follow_toggle(@article) %></li>
            <h6>Followers: <%= @article.user.followers.count %></h6>
            <h6>Following: <%= @article.user.following.count %></h6>
        </ul>
      </div>
    </article>
  </div>
</section>

<p id="notice"><%=notice %></p>
<%= @article.tag_list %>


<h2>Comments: </h2>
<% @article.comments.each do |comment| %>
  <p>
   <strong>Commenter:</strong>
   <%= comment.commenter %>
  </p>

  <p>
   <strong>Comment: </strong>
   <%= comment.body %>
  </p>
  <% if @article.user_id == current_user.id %>
  <%= article_like_toggle(@article) %>
   <p>
    <%= @article.likes.count %>
    <%= (@article.likes.count) == 1 ? 'Like' : 'Likes' %>
  </p>

  <p>
    <%= button_to 'Destroy Comment', [comment.article, comment],
    method: :delete,
    data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </p>
<% end %>

<h2> Add a comment </h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
   <%= form.label :commenter %><br>
   <%= form.text_field :commenter %>
  </p>

  <p>
   <%= form.label :body %><br>
   <%= form.text_field :body %>
  </p>
<br>
  <p>
   <%= form.submit class: 'btn btn-success btn-esm' %>
  </p>
  <% end %>
</div>
