<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <nav class="navbar navbar-dark bg-dark mt-2">
  <div class="container-fluid">
    <a class="navbar-brand">Blog</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    <p class="navbar-text float-right mt-1">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= image_tag current_user.image.url, size: "30x30" %>
        <br>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link, btn btn-primary btn-sm rounded-0' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link, btn btn-danger btn-sm rounded-0'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link, btn btn-primary btn-md rounded-0'%>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link, btn btn-success btn-md rounded-0 mr-2 px-3'%>
      <% end %>
    </p>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
