<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Blog</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
      </ul>
    <form class="d-flex">
            <% if user_signed_in? %>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown", style="text-decoration: none; color: white;" >
        <%= image_tag current_user.image.url, size: "50x50", class: "rounded-circle" %>
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link, btn btn-primary btn-sm rounded-0 text-white' %></a>
            <a href="#" class="dropdown-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link, btn btn-danger btn-sm rounded-0 text-white'  %></a>
        </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link, btn btn-primary btn-md rounded-0'%>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link, btn btn-success btn-md rounded-0 mr-2 px-3 text-white'%>
      <% end %>
      </div>
    </form>
  </div>
</nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
