<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Blog</a>
    <form class="d-flex">
            <% if user_signed_in? %>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
        <%= image_tag current_user.image.url, size: "30x30" %>
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link, btn btn-primary btn-sm rounded-0' %></a>
            <a href="#" class="dropdown-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link, btn btn-danger btn-sm rounded-0'  %></a>
          </div>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link, btn btn-primary btn-md rounded-0'%>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link, btn btn-success btn-md rounded-0 mr-2 px-3'%>
      <% end %>
    </div>
  </form>
</div>
</nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
